<% provide(:title, 'About') %>
  <div>
    <header>
      <h1>About Us</h1>
    </header>
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>

    <div>
      
    </div>

    <footer>
     <p>&copy; Copyright  by Jalyna</p>
    </footer>
  </div>
